<div class="fondo1">
    <div class="header1">
        <h1 class="texto1" style="margin: 0.4%; display: inline-flex;">Bienvenido/a</h1>
        <h1 class="texto2" style="margin: 0.4%; display: inline-flex;">User</h1>
        <div class="btn-group" style="float: right; height: 10%; width: 50%; margin-top: 3px;">
            <button routerLink="/inicio" class="btn btn-success" style="margin: 1%;">Inicio</button>
            <button class="btn" style="margin: 1%; color: black; background-color: rgb(158, 172, 186); border: 1.5px black solid;">Ver fechas de las evaluaciones</button>     
            <button class="btn btn-danger" style="margin: 1%;">Cerrar sesión</button>
        </div>
    </div>
    <form [formGroup]="validFormGQR" style="border: 2px solid black; margin-top: 1%; padding: 1%; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" class="container">
        <h2 style="text-align: center;">Generar QR</h2>
        <hr>
        <div style="display: inline; margin-right: 3%;">
            <label style="margin-right: 5px; text-decoration: underline">Selecciona asignatura:</label>
            <select formControlName="asiQr" name="selectQR" class="form-select" style="width: 20%; display: inline; background-color: rgb(226, 212, 212);" [(ngModel)]="paraGenQR.asignatura">
                <option *ngFor="let a of asignaturas" value="{{a['nombre']}}">{{a['nombre']}}</option>
            </select>
        </div>
        <div style="display: inline;">
            <label style="margin-right: 5px; text-decoration: underline;">Ingresa fecha:</label>
            <input formControlName="fecQr" name="hola" type="date" class="form-control" style="width: 20%; display: inline; background-color: rgb(226, 212, 212);" [(ngModel)]="paraGenQR.fecha">
        </div>
        <div style="display: inline;">
            <button class="btn btn-primary" style="margin-left: 4%; margin-bottom: 4px; width: 20%;" (click)="generarQR()">Generar QR</button>
        </div>
    </form>
    <div class="container" style="border: 2px solid black; margin-top: 1%; width: 50%;  padding: 0%; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; padding: 1%;" *ngIf="verqr===1">
        <qrcode [qrdata]="msjQr" [width]="400" [margin]="0" style="text-align: center;"></qrcode>
        <button class="btn btn-info" style="text-align: center; margin-left: 0%; width: 100%;" (click)="cerrarqr()">Cerrar</button>
    </div>
</div>