<div style="background-image: url(assets/img/fondoduoc.jpg); width: 100%; background-repeat: no-repeat; height: 100%; background-size: 100%; background-position: center; flex-wrap: wrap;">
    <div style="text-align: center; margin-bottom: 1%;"><img src="assets/img/a.png"></div>
    <div style="margin: 0 auto; width: 50%; background-color: #00193cf6; border-radius: 5%; height: 100%;">
        <h1 style="text-align: center; color: white;">Inicio de sesión: Docentes.</h1>
        <hr style="border: 2px solid black;">
        <p style="color: yellow; text-align: left; padding-left: 18%;">- Todos los campos se rellenan.</p>
        <form>
            <div class="form-group" style="width: 50%; margin: 0 auto; padding-top: 2%;">
                <label style="color: white;">Correo: </label>
                <input type="email" name="correoD" placeholder="duoc@gmail.com" class="form-control" [(ngModel)]="sendLogin.correo">
            </div>
            <div class="form-group" style="width: 50%; margin: 0 auto; padding-top: 2%;">
                <label style="color: white;">Contraseña: </label>
                <input type="password" name="contrasenaD" placeholder="ejpass2481#" class="form-control" [(ngModel)]="sendLogin.contrasena">
                <p *ngIf="respArray.length>0" style="color: red; display: inline;">Contraseña incorrecta</p>
            </div>
            <br>
            <div *ngIf="mostrarmsj===1" class="alert alert-warning" style="margin-top: 5%; width: 50%; text-align: center; margin: 0 auto;">
            <strong>ERROR:</strong> Correo no registrado!!
            </div>
            <br><br>
            <button routerLink="/registro-d" class="btn btn-info" style="margin-left: 18%; margin-bottom: 5%;">Registrarse</button>
            <button type="submit" (click)="login()" class="btn btn-success" style="margin-left: 25%; margin-bottom: 5%;">Iniciar sesión</button>
        </form>
    </div>
</div>  