.titulo {
    --background:#100f6b ;
    --color: white;
    font-style: italic;
  }
  .contenido {
    --background: linear-gradient( #100f6b ,#e0ac08 );
    }

    .carta1{
        --background:  #493e0d;
    }