<div class="header1">
    <h1 class="texto1" style="margin: 0.4%; display: inline-flex;">Bienvenido/a</h1>
    <h1 class="texto2" style="margin: 0.4%; display: inline-flex;">{{nomDocente}}</h1>
    <div class="btn-group" style="float: right; height: 10%; width: 50%; margin-top: 3px;">
        <button routerLink="/generarQR" class="btn btn-success" style="margin: 1%;">Generar QR</button>
        <button (click)="apiFechasE()" class="btn" style="margin: 1%; color: black; background-color: rgb(158, 172, 186); border: 1.5px black solid;">Ver fechas de las evaluaciones</button>     
        <button (click)="cerrarSesion()" class="btn btn-danger" style="margin: 1%;">Cerrar sesión</button>
    </div>
</div>
<div class="fondo1">
    <h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center;">Inicio</h2>
    <hr>
    <div style="display: inline;" *ngIf="mostrarFechas===1">
        <ul *ngFor="let f of fechasE" class="list-group list-group-horizontal" style="margin: 0.5%; display: inline-flex;">
            <li style="border: 2px rgb(131, 131, 96) solid; font-weight: bold;" class="list-group-item list-group-item-warning">{{f['fecha1']}} - Evaluación 1</li>
            <li style="border: 2px rgb(131, 131, 96) solid; font-weight: bold;" class="list-group-item list-group-item-warning">{{f['fecha2']}} - Evaluación 2</li>
            <li style="border: 2px rgb(131, 131, 96) solid; font-weight: bold;" class="list-group-item list-group-item-warning">{{f['fecha3']}} - Evaluación 3</li>
            <li style="border: 2px rgb(131, 131, 96) solid; font-weight: bold;" class="list-group-item list-group-item-warning">{{f['examen']}} - Examen</li>
        </ul>
        <button (click)="cerrarFechas()" class="btn btn-danger" style="margin: 1%; display: inline;">Cerrar</button>
    </div>

    <form [formGroup]="ValidPut">
        <div class="container" style="border: 2px solid black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            <h2 style="color: rgb(0, 0, 0); width: 50%;">Mis datos.</h2>
            <div style="border-bottom: 1px solid black; width: 50%; padding: 5px;">
                <p style="display: inline; font-size: larger;">Correo: {{respDocActivo.correo}}</p>
                <button (click)="modificarCorreo()" class="btn btn-warning" style="display: inline; margin-left: 10px; margin-bottom: 0%; padding: 0%;"><img src="assets/editar.png" style="height: 25px; padding: 0%; margin: 0%;"></button>
                <button (click)="confirmCambio()" class="btn btn-primary" style="font-size: 15px; display: inline; margin-left: 10px; margin-bottom: 1%;" *ngIf="showInputPutCorreo===1">Guardar nuevo correo</button>
                <input type="email" placeholder="Ingrese nuevo correo" *ngIf="showInputPutCorreo===1" class="form-control" [(ngModel)]="nuevosDatos.correoNuevo" formControlName="corD">
                <p *ngIf="ValidPut.get('corD')?.hasError('email')" style="color: red; display: inline;">Formato de correo inválido</p>
                <div class="alert alert-primary" role="alert" style="margin: 1%;" *ngIf="alertExito===1">
                    Cambios realizados!
                </div>
            </div>
            <div style="border-bottom: 1px solid black; width: 50%; padding: 5px;">
                <p style="display: inline; font-size: larger;">Nombre: {{respDocActivo.nombre}}</p>
            </div>
            <div style="border-bottom: 1px solid black; width: 50%; padding: 5px;">
                <p style="display: inline; font-size: larger;">Apellido: {{respDocActivo.apellido}}</p>
            </div>
            <div style="border-bottom: 1px solid black; width: 50%; padding: 5px;">
                <p style="display: inline; font-size: larger;" *ngIf="vercontra===0">Contraseña: ****</p>
                <p style="display: inline; font-size: larger;" *ngIf="vercontra===1">Contraseña: {{respDocActivo.contrasena}}</p>
                <button (click)="verContraFunction()" class="btn btn-warning" style="display: inline; margin-left: 10px; margin-bottom: 0%; padding: 0%;" *ngIf="vercontra===0"><img src="assets/verContra.png" style="height: 25px; padding: 0%; margin: 0%;"></button>
                <button (click)="esconderContraFunction()" class="btn btn-warning" style="display: inline; margin-left: 10px; margin-bottom: 0%; padding: 0%;" *ngIf="vercontra===1"><img src="assets/novercontra.png" style="height: 25px; padding: 0%; margin: 0%;"></button>
                <button (click)="modificarContra()" class="btn btn-warning" style="display: inline; margin-left: 10px; margin-bottom: 0%; padding: 0%;"><img src="assets/editar.png" style="height: 25px; padding: 0%; margin: 0%;"></button>
                <button (click)="confirmCambio()" class="btn btn-primary" style="font-size: 15px; display: inline; margin-left: 10px; margin-bottom: 1%;" *ngIf="showInputPutContra===1">Guardar nueva contraseña</button>
                <input type="password" placeholder="Ingrese nueva contraseña" *ngIf="showInputPutContra===1" class="form-control" [(ngModel)]="nuevosDatos.contraNueva" formControlName="conD">
                <p *ngIf="ValidPut.get('conD')?.hasError('minlength')" style="color: red; display: inline;">Formato invalido: Min. 8 caracteres</p>
                <div class="alert alert-primary" role="alert" style="margin: 1%;" *ngIf="alertExito===2">
                    Cambios realizados!
                </div>
            </div>
            <div style="border-bottom: 1px solid black; width: 50%; padding: 5px;">
                <p style="display: inline; font-size: larger;">Asignatura 1: {{nombreAsig1}}</p>
            </div>
            <div style="width: 50%; padding: 5px;">
                <p style="display: inline; font-size: larger;">Asignatura 2: {{nombreAsig2}}</p>
            </div>
        </div>
    </form>
</div>
