<div style="background-color: aquamarine; display: flow-root;">
    <h1 style="margin: 0.4%; display: inline-flex;">Bienvenid@ {{nomDocente}}</h1>
    <button (click)="cerrarSesion()" class="btn btn-danger" style="margin: 1%; float: inline-end;">Cerrar sesión</button>
</div>
<button (click)="apiFechasE()" class="btn btn-success" style="display: inline;">Ver fechas de las evaluaciones</button>
<div style="display: inline;">
    <ul *ngFor="let f of fechasE" class="list-group list-group-horizontal">
        <li style="border: 2px rgb(131, 131, 96) solid; font-weight: bold;" class="list-group-item list-group-item-warning">{{f['fecha1']}} - Evaluación 1</li>
        <li style="border: 2px rgb(131, 131, 96) solid; font-weight: bold;" class="list-group-item list-group-item-warning">{{f['fecha2']}} - Evaluación 2</li>
        <li style="border: 2px rgb(131, 131, 96) solid; font-weight: bold;" class="list-group-item list-group-item-warning">{{f['fecha3']}} - Evaluación 3</li>
        <li style="border: 2px rgb(131, 131, 96) solid; font-weight: bold;" class="list-group-item list-group-item-warning">{{f['examen']}} - Examen</li>
    </ul>
</div>

