<ion-header>
  <ion-toolbar class="header-color">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="'/inicio2'" (click)="stopScan()">Inicio</ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Leer QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" class="contenido">
  <!--<div style="position: absolute; left: 0px; top: -2px; height: 1px; overflow: hidden; visibility: hidden; width: 1px;">
    <span
      style="position: absolute; font-size: 300px; width: auto; height: auto; margin: 0px; padding: 0px; font-family: Roboto, Arial, sans-serif;"
      >BESbswy</span>
  </div>-->
</ion-content>
