<div style="text-align: center; margin: 1%;"><img src="assets/img/a.png"></div>
<div style="margin: 0 auto; width: 50%; background-color: #00193cf6; border-radius: 5%; height: 100%;">
    <h1 style="text-align: center; color: white;">Registro: Docentes.</h1>
    <hr style="border: 2px solid black;">
    <p style="color: yellow; text-align: left; padding-left: 18%;">- Todos los campos se rellenan.</p>
    <form [formGroup]="valFormReg" (ngSubmit)="crearDocente2()">
        <div class="form-group" style="width: 50%; margin: 0 auto; padding-top: 2%;">
            <label style="color: white;">Correo: </label>
            <input type="email" name="correoD" placeholder="prueba@gmail.com" class="form-control" [(ngModel)]="newDocente.correo" formControlName="corD">
            <p *ngIf="valFormReg.get('corD')?.hasError('email')" style="color: red; display: inline;">Formato de correo incorrecto</p>
        </div>
        <div class="form-group" style="width: 50%; margin: 0 auto; padding-top: 2%;">
            <label style="color: white;">Nombre: </label>
            <input type="text" name="nombreD" placeholder="Matias" class="form-control" [(ngModel)]="newDocente.nombre" formControlName="nomD">
            <p *ngIf="valFormReg.get('nomD')?.hasError('maxlength')" style="color: red; display: inline;">Max. 20 caracteres</p>
            <p *ngIf="valFormReg.get('nomD')?.hasError('minlength')" style="color: red; display: inline;">Min. 3 caracteres</p>
        </div>
        <div class="form-group" style="width: 50%; margin: 0 auto; padding-top: 2%;">
            <label style="color: white;">Apellido: </label>
            <input type="text" name="apellidoD" placeholder="Alvarez" class="form-control" [(ngModel)]="newDocente.apellido" formControlName="apeD">
            <p *ngIf="valFormReg.get('apeD')?.hasError('maxlength')" style="color: red; display: inline;">Max. 20 caracteres</p>
            <p *ngIf="valFormReg.get('apeD')?.hasError('minlength')" style="color: red; display: inline;">Min. 3 caracteres</p>
        </div>
        <div class="form-group" style="width: 50%; margin: 0 auto; padding-top: 2%;">
            <label style="color: white;">Contraseña: </label>
            <input type="password" name="contrasenaD" placeholder="ejpass2481#" class="form-control" [(ngModel)]="newDocente.contrasena" formControlName="conD">
            <p *ngIf="valFormReg.get('conD')?.hasError('maxlength')" style="color: red; display: inline;">Max. 20 caracteres</p>
            <p *ngIf="valFormReg.get('conD')?.hasError('minlength')" style="color: red; display: inline;">Min. 8 caracteres</p>
        </div>
        <div class="form-group" style="width: 50%; margin: 0 auto; padding-top: 2%;">
            <label style="color: white;">Asignatura 1: </label>
            <select name="idasig1" id="idasigs1" class="form-select" [(ngModel)]="newDocente.idAsignatura1" formControlName="ida1">
                <option *ngFor="let a of asignaturas" value="{{a['id']}}">{{a['nombre']}}</option>
            </select>
            <p *ngIf="valFormReg.get('ida1')?.touched && valFormReg.get('ida1')?.invalid" style="color: red; display: inline;">No has seleccionado asignatura</p>
        </div>
        <div class="form-group" style="width: 50%; margin: 0 auto; padding-top: 2%;">
            <label style="color: white;">Asignatura 2: </label>
            <select name="idasig2" id="idasigs2" class="form-select" [(ngModel)]="newDocente.idAsignatura2" formControlName="ida2">
                <option *ngFor="let a of asignaturas" value="{{a['id']}}">{{a['nombre']}}</option>
            </select>
            <p *ngIf="valFormReg.get('ida2')?.touched && valFormReg.get('ida1')?.invalid" style="color: red; display: inline;">No has seleccionado asignatura</p>
        </div>
        <br><br>
        <button routerLink="/login-d" class="btn btn-info" style="margin-left: 18%; margin-bottom: 5%;">Iniciar sesión</button>
        <button type="submit" routerLink="" class="btn btn-success" style="margin-left: 25%; margin-bottom: 5%;">Registrarse</button>
    </form>
</div>
